name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        node-version:
          - 22 # Latest LTS
          - 24 # Current
        architecture:
          - x64
    steps:
      - name: Checkout Current Repo
        uses: actions/checkout@v5
      - name: Cache turbo
        uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Use Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          architecture: ${{ matrix.architecture }}
          cache: pnpm
      - name: Install Dependencies
        run: |
          pnpm install
      - name: Lint
        run: |
          pnpm lint
      - name: Compile
        run: |
          pnpm compile
      - name: Test
        run: |
          pnpm coverage
      - name: Core Package Coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./packages/core/coverage/coverage-final.json
          flags: unit-tests
          name: imbricate-core
          token: ${{ secrets.CODECOV_TOKEN }}
